{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime",["import", {
    "libraryName": "vant",
    "libraryDirectory": "es",
    "style": true
  }]]
}

//  "plugins": ["transform-vue-jsx", "transform-runtime"]
// transform-runtime:用来处理全局函数、优化babel插件的
// transform-vue-jsx：用来编译jsx的
